@font-face {
    font-family:poppins-bold;
    src: url(fonts/poppins-bold.ttf);
}
@font-face {
    font-family: poppins-light;
    src: url(fonts/Poppins-Light.ttf);
}
/*reset*/
    *{
        margin: 0; 
        padding: 0;
    }
    body{
        font-family: poppins-light;
        background-color: rgba(6, 0, 59, 0.384);
    
}

/*cabeçalio*/

    header{
        font-family: poppins-bold;
        font-size: 1em;
        display: flex;
        justify-content: space-between;
        background-color: rgb(1, 0, 44);
        margin-bottom: 10px;
        padding: 20px;
        color: #f8f3e1;
    }
    header h1{
        padding: 0 0 0 40px;
        margin: 0;

    }
    nav{
        display: flex;
        align-items: center;
        width: 250px;
        justify-content: space-between;
        padding-right: 20px;
    }
    li {
        font-family: poppins-light;
        text-decoration: none;
        list-style: none;

    }
/*corpo*/
    main{
        display: flex;
    }

/*ferramentas*/

    #ferramentas {
        width: 300px;
        max-width: 300px;
        margin: 0 20px 0 10px;
        flex-grow: 0.5;
        padding: 0 10px;
    }    

/*calculadora*/    

    #calculadora {
        padding: 20px;
        text-align: center;
        flex-grow: 0.1;
        margin: 0 10px 0 0;
        max-width: 600px;
        background-color: #ece5cf;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.377) 0 0 5px;
    }
    #calculadora * {
        margin: 5px;

    }
    #calculadora h1 {
        font-size: 2em;
        font-family: poppins-bold;
        margin-bottom: 0;
        text-shadow: rgba(0, 0, 0, 0.63) 0 0 5px;
    }
    #calculadora h2 {
        margin: 1px 0;
        font-size: 1.3em;
    }
     input {
        width: 200px;
        height: 40px;
        font-size: 1.5em;
        text-align: center;
        color: black;
        margin: 0;
        padding: 0;
        border-radius: 5px;
        border-style:none;
        box-shadow: rgba(0, 0, 0, 0.541) 0px 0px 8px;
    }
   #botão {
    background-color: rgb(1, 0, 44);
    color: #ece5cf;
   }
   #botão:hover {
    background-color: rgb(2, 0, 109);
   }

    #btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;

    }
    #formulário h2 {
        margin: 0;
        padding: 0;
        font-size: 0.85em;
        font-family: poppins-light;

    }